USE [master]
GO
/****** Object:  Database [devops-db]    Script Date: 2/16/2018 10:54:40 AM ******/
CREATE DATABASE [devops-db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'devops-db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\devops-db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'devops-db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\devops-db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [devops-db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [devops-db]
GO
USE [devops-db]
GO
/****** Object:  Table [dbo].[Incidents]    Script Date: 2/16/2018 10:54:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidents](
	[Id] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[AffectedCompany] [nvarchar](50) NULL,
	[Registered] [datetime] NULL,
 CONSTRAINT [PK_Incidents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Incidents] ([Id], [Title], [Description], [AffectedCompany], [Registered]) VALUES (N'aaaaaaaa-1111-bbbb-2222-cccccccccccc', N'Title from db', N'Description from db', N'Db based company', CAST(N'2018-01-01T00:00:00.000' AS DateTime))
USE [master]
GO
